.notaRoja{
  background-color: #d9534f;
  border-color: #d9534f;
}
.notaAzul{
  background-color: #0275d8;
  border-color: #0275d8;
}
.notaAmarilla{
  background-color: #f0ad4e;
  border-color: #f0ad4e;

}

.notaVerde{
  background-color: #5cb85c;
  border-color: #5cb85c;
}
